<p>
  movie-list from http call
</p>
 
<div id="movieDiv2">
  <ul>
  <li *ngFor="let mov of movieHTTPList" on-mouseover="onSelect(mov)" (click)="onSelect(mov)" [class.selected]="mov === selectedHero">
    <!-- this can be (click)=="onSelect(mov)-->
<span class="badge">hover over for details{{mov.id}}</span>
<span>{{mov.name}}</span>

     {{mov.id}} {{mov.rating}} {{mov.watchAgain}} sdf
    <a [routerLink]="['/detail', mov.rating]">Details</a>
    <br/>
    <p>this is a child component</p>
    <app-movie-child [movie]="mov"></app-movie-child>
    </li>
   </ul>
 </div>

<div id="selectedMovieDiv" *ngIf="selectedMovie">
<p>selected:</p>
 <p>{{selectedMovie.name}}<p>
</div>